/* css reset browser defaults */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}



/* styles for  the header */
header {
    display:flex;
    background-color:#0891b2;
    justify-content: center;
    align-items: center;
    height:80vh;
}

section {
    display:flex;
    background-color:white;
    height:65%;
    width:50%;
    flex-direction: column;
    justify-content: center;
    padding:1rem;
    padding-right:2rem;
    flex:0 1 auto;
}

h2 {
    font-size: 2.5rem;
    font-weight:normal;
    flex:0 1 auto;

}

.about-text {
    font-size:1.4rem;
    margin-top:1.7rem;
    margin-bottom:2.5rem;
    line-height: 2rem;
    flex:0 1 auto;

}

/* styles for the header image container */
.header-image-container {
    width:35%;
    height:80%;
    flex:0 1 auto;
}

img {
    width:100%;
    height:100%;
}

.author {
    font-size:3rem;
    margin:0.5rem;
    margin-top: -4rem;
    color:white;
    text-align: center;
}

/* styles for links on the header section */
nav {
    display:flex;
    padding:0.3rem;
    width:30%;
    justify-content: space-around;
    margin-left:auto;
    flex:0 1 auto;

}

.svg {
    width:30px;
    height:auto;
}

/* styles for a mobile screen 767px and below */
@media (max-width: 767px){


    main {
        height:100%;
    }

    header {
        flex-direction:column;
        width:100v;
        height:100%;
        margin-bottom:4rem;
    }

    section {
        width:100vw;
        height:50vh;
        justify-content:end;
        align-items:center;
        padding:3rem;
    }

    .section-heading, .about-text, nav {
        flex:auto;
    }

    .section-heading {
        margin-top:4rem;
    }

    nav {
        
        width:50%;
        flex:auto;
        margin:auto;
    }

    .about-text {
        line-height: 2rem;
        flex:auto;
        margin:0.2rem;
    }

    .header-image-container {
        width:80%;
        height:50vh;
    }

    .content-box {
        max-width:90%;
        aspect-ratio: 1/1;
    }

    .heading {
        font-size: 4vw;
    }

    .description {
        font-size: 3vw;
    }


}

/*  styles for tablet 768px to 1024px */
@media (min-width:768px) and (max-width:1024px) {
    header {
        border:3px solid red;
        width:100vw;
        position:relative;
        height:60vh;
        align-items:end;
    }

    .header-image-container {
        position:absolute;
        height:auto;
        top:10%;
        right:52%;
        width:41%;
    }

    section {
        width:73%;
        height:75%;
    }

    .author {
        position:absolute;
        top:20%;
        left:80%;
        width:100%;
    }

}

/* -------------------styles for main element---------------------*/



.title {
    font-size:2rem;
    margin:1rem 0 0.5rem 4rem;
    width:80vw;
    
}




/* style for svg in content box */

main {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(2, 1fr);
    gap:2rem;
    padding-left:2rem;
    padding-right:2rem;
    justify-items: center;
    height:100vh;
}

.content-box {
    width:100%;
    display:flex;
    flex-direction:column;
}

.screenshot {
    height:60%;
    flex:auto;
    text-align: center;
    font-size:2.7rem;
    padding:2rem;
    display:flex;
    align-items: center;
}

.description-container {
    height:40%;
    box-shadow:5px 5px 5px silver;
    flex:auto;
    display:flex;
    flex-direction:column;
}

/* styles for icons in the content box */
.icon-container {
    display:flex;
    justify-content: end;
    align-items: center;
    padding:0.5rem;
    margin:0.3rem 0 0.3rem;
    gap:0.3rem;
}

.heading {
    font-size:1.3rem;
    margin-right:auto;
}

.git-link, .new-tab {
    width:10%;
}

.description {
    color:#706e6d;
    display:flex;
    padding:1rem;
    flex:2 2 auto;
}

/* styles for grid items */

.first-screenshot, .second-screenshot, .third-screenshot, .fourth-screenshot, .fifth-screenshot, .sixth-screenshot {
    color:white;
}
.first-box {
    grid-column:1/2;
    grid-row:1/2;
}

.first-screenshot {
    background-color:#9e1c1c;
}

.second-box {
    grid-column:2/3;
    grid-row:1/2;
}

.second-screenshot {
    background-color:#7c75ca;
}

.third-box {
    grid-column:3/4;
    grid-row:1/2;
}

.third-screenshot {
    background-color:#5e8f4d;
}

.fourth-box {
    grid-column:1/2;
    grid-row:2/3;
}

.fourth-screenshot {
    background-color:#c363b4;
}

.fifth-box {
    grid-column:2/3;
    grid-row:2/3;
}

.fifth-screenshot {
    background-color:#d88f39;
}

.sixth-box {
    grid-column:3/4;
    grid-row:2/3;
}

.sixth-screenshot {
    background-color:#4ba2d2;
}





/* styles for mobile screen */
@media (max-width: 767px){
    main {
        width:100vw;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        justify-items: center;
        align-items:center;
        height:100%;
        margin-top:3rem;
    }

    .title {
        width:60vw;;
        display:flex;
        justify-content: center;

    }

    .icon-container {
        gap:0.9rem;
    }


    .content-box {
        width:70vw;
        padding:0.3rem;
    }


    .screenshot {
        justify-content: center;
    }

    .first-box {
        grid-column:1/2;
        grid-row:1/2;
    }

    .second-box {
        grid-column: 1/2;
        grid-row:2/3;
    }

    .third-box {
        grid-column: 1/2;
        grid-row:3/4;
    }

    .fourth-box {
        grid-column:1/2;
        grid-row:4/5;
    }

    .fifth-box {
        grid-column:1/2;
        grid-row:5/6;
    }

    .sixth-box {
        grid-column: 1/2;
        grid-row:6/7;
    }

        .description {
            overflow:auto;
            font-size:4vw;
        }
    
}

@media (min-width:768px) and (max-width:1024px){
   

    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat(3, 1fr);
        width:90vw;
        padding:1rem;
    }

    .content-box {
        width:100%;
    }

    

    .first-box {
        grid-column:1/2;
        grid-row:1/2;
    }

    .second-box {
        grid-column:2/3;
        grid-row:1/2;
    } 

    .third-box {
        grid-column:1/2;
        grid-row:2/3;
    }

    .fourth-box {
        grid-column:2/3;
        grid-row:2/3;
    }

    .fifth-box {
        grid-column:1/2;
        grid-row:3/4;
    }

    .sixth-box {
        grid-column:2/3;
        grid-row:3/4;
    }
}


/*---------------------styles for the footer section---------------------------------*/
footer {
    display:flex;
    height:70vh;
    padding:2rem;
    background-color:#0891b2;
    margin-top:3rem;
    gap:0.3rem;
    justify-content: space-around;
}


.contacts {
    width:40%;
    height:75%;
    display:flex;
    flex-direction:column;
    padding:0 3rem 0 3rem;
    gap:0.3rem;
    color:white;
}

.footer-image-container {
    width:60%;
}

h3, .address, .phone-container, .email-container, .footer-links-container {
    flex:auto;
}


h3 {
    font-size:2rem;
    display:flex;
    align-items: center;
    justify-content: start;
}

.address {
    font-weight:bold;
    display:flex;
    justify-content: center;
    align-items: center;
}

p {
    padding:0.7rem;
}

.phone-container, .email-container {
    display:grid;
    grid-template-columns:15% 80%;
    gap:5%;
}

.phone-icon , .email-icon {
    display:flex;
    justify-content: center;
    align-items: center;
}

.phone-icon {
    grid-column:1/2;
}

.phone-number {
    grid-column:2/3;
    font-weight:bold;
}

.email-icon {
    grid-column:1/2;
}

.email {
    grid-column:2/3;
    font-weight:bold;
}

.phone-number, .email {
    display:flex;
    justify-content: start;
    align-items: center;
    padding-left:0.3rem;
}

.footer-links-container {
    display:flex;
    width:60%;

}

.footer-icons {
    flex:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}


.footer-svg {
    width:40%;
}

.phone-email {
    width:50%;
}

/* styles for mobile screen */
@media (max-width: 767px){
    footer {
        flex-direction:column;
        padding:0;
    }

    .contacts {
        width:100%;
        flex:auto;
        height:60%;
    }

    .footer-image-container {
        width:100%;
        height:40%;
        flex:auto;
    }
}

@media (min-width:768px) and (max-width:1024px) {

    footer {
        height:60vh;
    }

    .contacts {
        flex:auto;
    }

    h3 {
        font-size:3rem;
    }

    p {
        font-size:1.2rem;
    }

    .footer-image-container {
        flex:auto;
        width:40vw;
        height:75%;
    }

}