/* css reset browser defaults */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/* styles for  the header */
header {
    display:flex;
    background-color:#0891b2;
    justify-content: center;
    align-items: center;
    height:80vh;
}

section {
    display:flex;
    background-color:white;
    height:65%;
    width:50%;
    flex-direction: column;
    justify-content: center;
    padding:1rem;
    padding-right:2rem;
    flex:0 1 auto;
}

h2 {
    font-size: 2.5rem;
    font-weight:normal;
    flex:0 1 auto;

}

.about-text {
    font-size:1.4rem;
    margin-top:1.7rem;
    margin-bottom:2.5rem;
    line-height: 2rem;
    flex:0 1 auto;

}

/* styles for the header image container */
.header-image-container {
    width:35%;
    height:80%;
    flex:0 1 auto;
}

img {
    width:100%;
    height:100%;
}

.author {
    font-size:3rem;
    margin:0.5rem;
    margin-top: -4rem;
    color:white;
    text-align: center;
}

/* styles for links on the header section */
nav {
    display:flex;
    padding:0.3rem;
    width:30%;
    justify-content: space-around;
    margin-left:auto;
    flex-wrap:wrap;
    flex:0 1 auto;

}

.svg {
    width:30px;
    height:auto;
}

/* styles for a mobile screen */
@media (max-width: 320px){
    header {
        flex-direction:column;
    }
}

/* -------------------styles for main element---------------------*/

.content-box {
    width:25vw;
}

.title {
    font-size:2rem;
    margin:1rem 0 0.5rem 4rem;
    width:80vw;
    
}


.screenshot {
    height:60%;
    text-align: center;
    font-size:2.7rem;
    padding:2rem;
    display:flex;
    align-items: center;
}

.description-container {
    height:40%;
    box-shadow:5px 5px 5px silver;
}

/* style for svg in content box */
.git-link, .new-tab {
    width:10%;
    height:auto;
}

.heading {
    font-size:1.3rem;
    margin-right:auto;
}

main {
    display:grid;
    height:100vh;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(2, 1fr);
    gap:2rem;
    padding-left:2rem;
    padding-right:2rem;
    justify-items: center;
}

/* styles for grid items */

.first-screenshot, .second-screenshot, .third-screenshot, .fourth-screenshot, .fifth-screenshot, .sixth-screenshot {
    color:white;
}
.first-box {
    grid-column:1/2;
    grid-row:1/2;
}

.first-screenshot {
    background-color:#9e1c1c;
}

.second-box {
    grid-column:2/3;
    grid-row:1/2;
}

.second-screenshot {
    background-color:#7c75ca;
}

.third-box {
    grid-column:3/4;
    grid-row:1/2;
}

.third-screenshot {
    background-color:#5e8f4d;
}

.fourth-box {
    grid-column:1/2;
    grid-row:2/3;
}

.fourth-screenshot {
    background-color:#c363b4;
}

.fifth-box {
    grid-column:2/3;
    grid-row:2/3;
}

.fifth-screenshot {
    background-color:#d88f39;
}

.sixth-box {
    grid-column:3/4;
    grid-row:2/3;
}

.sixth-screenshot {
    background-color:#4ba2d2;
}

/* styles for icons in the content box */
.icon-container {
    display:flex;
    justify-content: end;
    align-items: center;
    padding:0.5rem;
    margin:0.3rem 0 0.3rem;
    gap:0.3rem;
}

.description {
    color:#706e6d;
    display:flex;
    padding:0.5rem 0 1rem 1rem;
}


/*---------------------styles for the footer section---------------------------------*/
footer {
    display:flex;
    height:70vh;
    padding:2rem;
    background-color:#0891b2;
    margin-top:3rem;
    gap:0.3rem;
    justify-content: space-around;
}


.contacts {
    width:40%;
    height:75%;
    display:flex;
    flex-direction:column;
    padding:0 3rem 0 3rem;
    gap:0.3rem;
    color:white;
}

.footer-image-container {
    width:60%;
}

h3, .address, .phone-container, .email-container, .footer-links-container {
    flex:auto;
}


h3 {
    font-size:2rem;
    display:flex;
    align-items: center;
    justify-content: start;
}

.address {
    font-weight:bold;
    display:flex;
    justify-content: center;
    align-items: center;
}

p {
    padding:0.7rem;
}

.phone-container, .email-container {
    display:grid;
    grid-template-columns:15% 80%;
    gap:5%;
}

.phone-icon , .email-icon {
    display:flex;
    justify-content: center;
    align-items: center;
}

.phone-icon {
    grid-column:1/2;
}

.phone-number {
    grid-column:2/3;
    font-weight:bold;
}

.email-icon {
    grid-column:1/2;
}

.email {
    grid-column:2/3;
    font-weight:bold;
}

.phone-number, .email {
    display:flex;
    justify-content: start;
    align-items: center;
    padding-left:0.3rem;
}

.footer-links-container {
    display:flex;
    width:60%;

}

.footer-icons {
    flex:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}


.footer-svg {
    width:40%;
}

.phone-email {
    width:50%;
}